.data {
  display: flex;
  justify-content: space-between;
}
.listTitle {
  font-weight: bold;
  margin-bottom: 15px;
}
li {
  margin-top: 5px;
  list-style-type: none;
}
.country {
  background-color: rgb(194, 194, 226);
}
.region {
  background-color: rgb(147, 147, 182);
}
.confirm {
  background-color: rgb(118, 153, 136);
}
.dead {
  background-color: rgb(179, 146, 140);
}
